<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/geopriv4j/src/geopriv4j/VHCAlgorithmExample.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="geopriv4j.VHCAlgorithmExample"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="geopriv4j"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djdk.attach.allowAttachSelf=true&#10;--add-exports=java.xml/com.sun.org.apache.xerces.internal.parsers=ALL-UNNAMED&#10;--add-exports=jdk.internal.jvmstat/sun.jvmstat.monitor=ALL-UNNAMED&#10;--add-exports=java.management/sun.management=ALL-UNNAMED&#10;--add-exports=java.management/sun.management.counter.perf=ALL-UNNAMED&#10;--add-exports=jdk.management.agent/jdk.internal.agent=ALL-UNNAMED&#10;--add-exports=jdk.attach/sun.tools.attach=ALL-UNNAMED&#10;--add-opens=java.base/java.net=ALL-UNNAMED&#10;--add-opens=jdk.attach/sun.tools.attach=ALL-UNNAMED"/>
</launchConfiguration>
